<?xml version="1.0" encoding="UTF-8"?>
<web-app
    version="4.0"
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/ControllerServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AreaCheckServlet</servlet-name>
    <servlet-class>AreaCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AreaCheckServlet</servlet-name>
    <url-pattern>/AreaCheckServlet</url-pattern>
  </servlet-mapping>

  <filter>
    <filter-name>ReferrerFilter</filter-name>
    <filter-class>logic.ReferrerFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ReferrerFilter</filter-name>
    <servlet-name>AreaCheckServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>ReferrerFilter</filter-name>
    <servlet-name>AreaCheckServlet</servlet-name>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
