:root {
  --background: #305478;
  --background2: #00008b;
  --background3: #00009c;
  --front: #FECD45;
  --radius: 8px;
  --brownBg: #8a6642;
  --successColor: #66ff00;
  --failColor: #ff2400;
}

body{
	background-color: var(--background);
	font-family: "Advent Pro";
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
  	font-variation-settings:
    "wdth" 100;
}


header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: var(--background);
	color: var(--front);
	border: 2px solid var(--front);
	text-align: center;
	border-radius: var(--radius);
	z-index: 9999;
}


header:hover {
	border: 3px solid var(--front);
}

.message {
	background-color: darkgray;
	color: white;
	font-size: 30px;
	border: 1px solid var(--front);
	margin-top: 15%;
	margin-bottom: 10%;
	width: 100%;
	text-align: center;
	border-radius: var(--radius);
}
.message:hover{
	font-size: 32px;
}

.mainPage {
	color: var(--front);
	background-color: var(--brownBg);
	border-radius: var(--radius); 
	width: 50%;
  	margin: auto;
	padding: 3%;
}

.container {
	display: flex;
	flex-direction: row;
	height: 70%;
}

.item {
	padding: 5%;
	flex-grow: 1;
}

hr {
	border-color: var(--front);
}

form > button {
	background-color: var(--background);
	font-family: "Advent Pro";
  	font-optical-sizing: auto;
  	font-weight: 700;
  	font-style: normal;
  	font-variation-settings:
    "wdth" 100;

	padding: 2%;
	font-size: 18px;
	background-color: var(--background);
	border-radius: var(--radius); 
	border: 1px solid var(--front);
	color: var(--front);
}
#mainButton:hover {
	font-size: 	20px;
	border: 2px solid var(--front);
}
#canvasPlot {
	width: 300px;
	height: 300px;
	border: 2px solid var(--front);
	background-color: #ffffff;
	border-radius: calc(var(--radius)*3); 
}

.fail{
	color: var(--failColor);
	font-weight: bold;
}
.success{
	color: var(--successColor);
	font-weight: bold;
}
table {
	table-layout: fixed;
	border: 2px solid var(--front);
	width: 100%;
	color: var(--front);
	border-collapse: collapse;
	text-align: center;
	font-size: 20px;
}

tbody tr:nth-child(odd) {
  background-color: var(--background2);
}

tbody tr:nth-child(even) {
  background-color: var(--background3);
}
th {
	font-size: 25px;
	font-weight: bold;
	border: 2px solid var(--front);
}
td {
	border: 1px solid var(--front);
}
input{
	border: 1px solid var(--background2);
	border-radius: 5px;
	border-color: var(--background2);
	font-family: "Advent Pro";
	font-size: 18px;
}
input:hover{
	border: 2px solid var(--background2);
	border-radius: 5px;
}
input:focus{
	outline: none;
}

.choices {
	width: 110px;
}

.is-focused .choices__inner,
.is-open .choices__inner{
	border: 1px solid var(--background2);
}

.choices__inner{
	position: relative;
	background-color: white;
	color: black;
	font-size: 20px;
	border-radius: var(--radius);
}
.choices.is-open{
	position: relative;
	background-color: white;
	color:black;
	border-radius: var(--radius);
}
.is-open .choices__inner{
	border-radius: var(--radius);
}